# you can launch the service with the followings commands: (replace 'start' by 'stop' for kill the process)
# sudo systemctl start transpay
# or
# sudo service transpay start

[Unit]
Description=transpay website

[Service]
# use any user you want
User=transpay
Type=simple
# adapt this to the path of Trans Pay
WorkingDirectory=/directory/of/transpay/
# adapt this to the path of your gunicorn binary, and to the port you want to serve the app on
ExecStart=/usr/local/bin/gunicorn app:app -b 127.0.0.1:5000
ExecStop=/usr/bin/pkill gunicorn

[Install]
WantedBy=multi-user.target
