{% extends "layout.html" %}
{% block body %} 
<div class="well">
    <div class="container">
        <h1>Soutenir le {{ _cfg("your-name") }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Connexion</h1>
            {% if errors %}
            <div class="alert alert-danger">
                <p>
                Identifiant ou mot de passe invalide·s.
                </p>
            </div>
            {% endif %}
            <form action="{{root}}/login" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="votre@example.org" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Mot de passe" />
                </div>
                <input type="submit" value="Se connecter" class="btn btn-primary" />
                <a style="margin-left: 20px" href="password-reset">Mot de passe perdu</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
