{% extends "layout.html" %}
{% block body %} 
<div class="well">
    <div class="container">
        <h1>Soutenir le {{ _cfg("your-name") }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Récupération de votre compte</h1>
            {% if errors %}
                <div class="alert alert-danger">
                    <p>
                    {{ errors }}
                    </p>
                </div>
            {% endif %}
            {% if done %}
                <p>
                    Un e-mail devrait arriver. En cas de souci vous pouvez nous contacter :
                    <a href="mailto:{{_cfg("your-email")}}">{{_cfg("your-email")}}</a>.
                </p>
            {% elif token %}
                <form action="{{root}}/password-reset" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Nouveau mot de passe" />
                        <input type="hidden" name="token" value="{{ token }}" />
                    </div>
                    <input type="submit" value="Valider" class="btn btn-primary" />
                </form>
            {% else %}
                <form action="{{root}}/password-reset" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="email" placeholder="votre@email.com" />
                    </div>
                    <input type="submit" value="Valider" class="btn btn-primary" />
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
