{% extends "layout.html" %}
{% block body %} 
<h1>Fosspay Admin</h1>
{% if first %}
<div class="well">
    <p>
        You're set up and ready to go! This is your admin panel.
        Yeah, it's not pretty. Next steps:
    </p>
    <ol>
        <li>
            Add some projects. Donors can tell you which project they want to support
            when they donate.
        </li>
        <li>
            Customize the look &amp; feel. Look at the contents of the <code>templates</code>
            directory - you can copy and paste any of these templates into the
            <code>overrides</code> directory and change it to suit your needs.
        </li>
        <li>
            <a href="https://drewdevault.com/donate?project=fosspay">Donate to fosspay upstream?</a>
        </li>
        <li>
            <a href="https://github.com/SirCmpwn/fosspay">Contribute code to fosspay upstream?</a>
        </li>
    </ol>
</div>
{% endif %}
<h2>Projects</h2>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>One-off donations</th>
                    <th>Recurring donations</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-6">
        <h4>Add Project</h4>
        <form method="POST" action="/create-project">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Project name" name="name" />
            </div>
            <input type="submit" value="Add" />
        </form>
    </div>
</div>
<h2>Donation History</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Project</th>
            <th>Comment</th>
            <th>Amount</th>
            <th style="width: 10%">Recurring</th>
        </tr>
    </thead>
</table>
{% endblock %}
