<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<title>500 Internal Error - Trans Pay</title>
<link rel="stylesheet" href="/static/bootstrap.min.css" />

</head>


<body>

<div class="well">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
				<h1>500 Internal Error</h1>
            </div>
        </div>
    </div>
</div>
<div class="container text-center" id="donation-stuff">
	<h2>To users :</h2>
		<p>We're momentarily offline :( <br> Come back soon~</p>
	<h2>To administrators :</h2>
		<p>Check your <code>config.ini</code> file or logs errors.</p>

<p>
	<small class="text-muted">
		Sincerely yours, the poor server.
	</small>
</p>
</div>

</body>

</html>