<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="static/icon.png" type="image/png" />
        {% block title %}
        <title>Donate to {{_cfg("your-name")}}</title>
        {% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
        {% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
