{% extends "layout.html" %}
{% block body %} 
<div class="well">
    <div class="container">
        <p class="pull-right">
            <a class="btn btn-primary" href="..">{%trans%}Donate again{%endtrans%}</a>
            <a class="btn btn-default" href="logout">{%trans%}Log out{%endtrans%}</a>
        </p>
        <h1>{%trans%}Your Donations{%endtrans%}</h1>
    </div>
</div>
<div class="container">
    {% if any(recurring(user)) %}
    <h2>{%trans%}Monthly Donations{%endtrans%}</h2>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 10%"></th>
                <th>{%trans%}Date{%endtrans%}</th>
                <th>{%trans%}Amount{%endtrans%}</th>
                <th>{%trans%}Project{%endtrans%}</th>
                <th>{%trans%}Occurrence{%endtrans%}</th>
            </tr>
        </thead>
        <tbody>
        {% for donation in recurring_active(user) %}
            <tr>
                <td>
                    <form method="DELETE" action="{{root}}/cancel/{{ donation.id }}">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="submit" class="btn btn-danger btn-sm">{%trans%}Cancel{%endtrans%}</button>
                    </form>
                </td>
                <td>{{ donation.created.strftime(_("%%Y-%%m-%%d")) }}</td>
                <td>{{ currency.amount("{:.2f}".format(donation.amount / 100)) }}</td>
                <td>{{ donation.project.name if donation.project else _("Not specified") }}</td>
                <td>{{donation.payments}}</td>
            </tr>
        {% endfor %}
        {% for donation in recurring_inactive(user) %}
            <tr>
                <td>{%trans%}(canceled){%endtrans%}</td>
                <td>{{ donation.created.strftime(_("%%Y-%%m-%%d")) }}</td>
                <td>{{ currency.amount("{:.2f}".format(donation.amount / 100)) }}</td>
                <td>{{ donation.project.name if donation.project else _("Not specified") }}</td>
                <td>{{donation.payments}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if any(one_times(user)) %}
    <h2>{%trans%}One-time Donations{%endtrans%}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>{%trans%}Date{%endtrans%}</th>
                <th>{%trans%}Amount{%endtrans%}</th>
                <th>{%trans%}Project{%endtrans%}</th>
            </tr>
        </thead>
        <tbody>
        {% for donation in one_times(user) %}
            <tr>
                <td>{{ donation.created.strftime(_("%%Y-%%m-%%d")) }}</td>
                <td>{{ currency.amount("{:.2f}".format(donation.amount / 100)) }}</td>
                <td>{{ donation.project.name if donation.project else _("Not specified") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
