{#
    Try to keep this text short. Too long and it distracts from
    the donation UI and will reduce the number of conversions you
    actually get.
#}

<p>
Donations accumulate until there's enough to fund one week of
full time development. The project you specify influences which
projects receive the most time. Each donated-to project will
receive attention, even if there's just one donation for it.
Monthly donations will help me keep doing this for a long time,
but one-offs are also great.
</p>
